.pie {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'IBM Plex Mono', monospace;
    font-size: 14px;    
    
}
.fabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}